<div class="container">
  <h1 class="tittle">Adjunta la siguiente documentación:</h1>
<div class="text">
    A continuación se le solicitan documentos necesarios para la aprobación de su cuenta, se espera que las imágenes sean de alta calidad.
</div>

<br>
<mat-accordion class="example-headers-align" >
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header class="p-1">
            <mat-panel-title class="title">
                <b> Licencia </b>
            </mat-panel-title>
            <mat-panel-description class="desc">
                Adjunta una foto de tu licencia de conducir
                <mat-icon>credit_card</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <form class="was-validated" >
            <div class="custom-file">
                <input  accept="image/*"  type="file" (change)="readUrlLicencia($event)" class="custom-file-input" id="validatedCustomFile" required>
                <label class="custom-file-label shadow" for="validatedCustomFile">Seleccionar </label>
                <div class="invalid-feedback" *ngIf="urlLicencia == ''">Seleccione una imagen</div>
              </div>
              <img [src]="urlLicencia" class="img">
        </form>

        <mat-action-row>
            <button mat-button color="primary" (click)="nextStep()"><p style="color: #DB6D0B ">Continuar</p></button>
        </mat-action-row>
    </mat-expansion-panel>
    <br>
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header class="p-1">
            <mat-panel-title class="title">
                <b>Vehículo</b>
            </mat-panel-title>
            <mat-panel-description class="desc">
                Adjunta una foto de tu vehículo de conducir
                <mat-icon>motorcycle</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <form class="was-validated" >
          <div class="custom-file">
              <input accept="image/*"  type="file" (change)="readUrlVehiculo($event)" class="custom-file-input" id="validatedCustomFile2" required>
              <label class="custom-file-label shadow" for="validatedCustomFile2">Seleccionar</label>
              <div class="invalid-feedback" *ngIf="urlVehiculo === '' ">Seleccione una imagen</div>
            </div>
            <img [src]="urlVehiculo" class="img">
      </form>

        <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()"><p style="color: #DB6D0B ">Anterior</p></button>
            <button mat-button color="primary" (click)="nextStep()"><p style="color: #DB6D0B ">Finalizar</p></button>
        </mat-action-row>
    </mat-expansion-panel>


</mat-accordion>


<br>

<div style="text-align: end;">
    <button [disabled]="loading" mat-raised-button class="btn-outline-light btn-basic-trans mt-3 mb-3" (click)="save()">Continuar</button>

</div>

</div>
