<nav class="navbar navbar-light bg-light shadow-sm p-3 mb-5 bg-body rounded">
    <div class="container-fluid" routerLink="">
        <div style="display: flex;">
            <img src="../../../../assets/img/PideLow.png" class="img-nav mt-0 mb-3" width="124" height="22px">
            <p class="subtitle mb-3">Motorista</p>
        </div>
        <div style="display: flex;" routerLink="['/delivery/porfile']">
            <img src="../../../../../assets/img/porfile.png" class="img-nav mt-0 mb-3" width="50px">
            <h3 class="mt-0 mb-3" id="name" style="    padding-top: 5px;
            padding-left: 5px; font-weight: bold;">Daniela Zavala</h3>
        </div>
    </div>
</nav>