<div class="container ">
    <div class="row">
        <div class="col-sm-12 col-lg-6 container-img">
            <img src="../../../../assets/verified-img.jpg" class="img-verified">
        </div>
        <div class="col-sm-12 col-lg-6 container-info mb-5">
            <div class="tittle-container">
                <p>Verificar correo electronico </p>
            </div>
            <div class="sub-title mt-3">
                <p>
                    Hemos enviado un correo electronico a <b>{{email |lowercase}}</b>, el cual contiene un codigo de verificacion.
                </p>
            </div>
            <div class="input-container mt-3">
                <input type="number" [ngClass]="{'invalid-form': code.invalid  && code.touched}" class="form-control w-100 rounded border border-dark" placeholder="Codigo de verificacion" [formControl]="code">
                <div class="mt-1">
                    <span class="form-text text-danger mt-3" *ngIf="code.invalid && code.touched">
                      Codigo es requerido
                    </span>
                </div>

            </div>
            <div class="container-end mt-3">
                <p>No has recibido el correo electronico?</p>
            </div>
            <div class="container-btn  mt-3">
                <mat-spinner *ngIf="loading" class="loading mt-5"></mat-spinner>
                <button *ngIf="!loading" type="submit" (click)="onVerified()" mat-raised-button class="btn-verified mt-5">Verificar</button>
            </div>
        </div>
    </div>
</div>
