<div class="row" style="text-align: center;">
    <div class="col-xl-6 col-sm-12">
        <img src="../../../../assets/img/aprobated.png" alt="">
    </div>
    <div class="col-xl-6 col-sm-12 div-text">
        <div style="margin-right: 30%;">
            <h1 class="textN">Aprobando cuenta</h1>
            <h2 style="padding: 2rem;">Espera un momento! Nuestros analistas estudian tu cuenta para ser aprobada y que formes parte de nuestro equipo de repartidores.</h2>
        </div>
    </div>

    <div style="text-align: end;" class="verificar-div">
        <br><br>
        <button class="verificar" [routerLink]="['/auth/verified']">Verificar</button>

    </div>

</div>

<br><br><br>