
<footer class="page-footer">


  <div class="footer-copyright text-center py-3 conteiner-content">
    <div class="title">
      <p>© 2021 Copyright, Derechos reservados </p>
    <p class="ms-1"><b>  Pidelow</b></p>
    </div>

    <div class="social-netword ms-10">
      <div class="ms-5">
        <fa-icon [icon] ="['fab', 'instagram']"></fa-icon>
      </div>
      <div class="ms-5">
        <fa-icon [icon] ="['fab', 'facebook']"></fa-icon>
      </div>
      <div class="ms-5">
        <fa-icon [icon] ="['fab', 'twitter']"></fa-icon>
      </div>
      <div class="ms-5">
        <fa-icon [icon] ="['fab', 'linkedin']"></fa-icon>
      </div>
  </div>
  </div>

</footer>
