<div class="container animate__animated animate__fadeIn">
    <div class="containerG row">


        <div class="col-xl-6 col-sm-12 content">
            <div class="containerRegister">

                <h1 style="text-align: center;" id="textNaranja">Registrate</h1>
                <p class="mt-text">Motorista</p>
                <p>Rellena cada uno de los campos para ser parte de nuestros repartidores</p>
                <div class="form-content">
                    <form action="" autocomplete="off" [formGroup]="myForm" (ngSubmit)="register()">

                        <div class="input" style="margin-bottom: 0px;">
                            <div class="m-1s input-group">
                                <input formControlName="id" type="text" class="form-control" placeholder="Identidad" [ngClass]="{'invalid-form': validatorCamp('id')}">
                                <div class="w-100 text-start p-1">

                                    <span class="form-text text-danger animate__animated animate__fadeIn" *ngIf="validatorCamp('id')">
                                       Requerido, escriba su id sin guiones
                                        </span>
                                </div>
                            </div>
                            <div class=" m-1s input-group">
                                <input formControlName="name" type="text" class="form-control" placeholder="Nombre" [ngClass]="{'invalid-form': validatorCamp('name')}">
                                <div class="w-100 text-start p-1">
                                    <span class="form-text text-danger animate__animated animate__fadeIn" *ngIf="validatorCamp('name')">
                                       Campo Requerido
                                 </span>
                                </div>
                            </div>
                            <div class=" m-1s input-group">
                                <input formControlName="lastname" type="text" class="form-control" placeholder="Apellido" [ngClass]="{'invalid-form': validatorCamp('lastname')}">
                                <div class="w-100 text-start p-1">
                                    <span class="form-text text-danger animate__animated animate__fadeIn" *ngIf="validatorCamp('lastname')">
                                       Campo Requerido
                                 </span>
                                </div>
                            </div>
                            <div class="m-1s input-group">
                                <input formControlName="phone" type="text" class="form-control" placeholder="telefono" [ngClass]="{'invalid-form': validatorCamp('phone')}">
                                <div class="w-100 text-start p-1">
                                    <span class="form-text text-danger animate__animated animate__fadeIn" *ngIf="validatorCamp('phone')">
                                       Campo Requerido
                                 </span>
                                </div>
                            </div>
                            <div class="m-1s input-group">
                                <input formControlName="email" type="text" class="form-control" placeholder="email" [ngClass]="{'invalid-form': validatorCamp('email')}">
                                <div class="w-100 text-start p-1">
                                    <span class="form-text text-danger animate__animated animate__fadeIn" *ngIf="validatorCamp('email')">
                                       Campo Requerido
                                 </span>
                                </div>
                            </div>
                            <div class="m-1s input-group">
                                <input formControlName="password" *ngIf="show" type="password" class="form-control" style="margin-bottom: 0px;" placeholder="contraseña" [ngClass]="{'invalid-form': validatorCamp('password')}">
                                <input formControlName="password" *ngIf="!show" type="text" class="form-control" style="margin-bottom: 0px;" placeholder="contraseña" [ngClass]="{'invalid-form': validatorCamp('password')}">

                                <div class="input-group-append " (click)="showPass()" style="    margin-top: auto;
                                    margin-bottom: auto; ">
                                    <span class="" [ngClass]="{'invalid-form': validatorCamp('password')}">
                                      <fa-icon *ngIf="!show" [icon] ="['far', 'eye-slash']"></fa-icon>
                                      <fa-icon *ngIf="show" [icon] ="['far', 'eye']"></fa-icon>
                                    </span>
                                </div>
                                <div class="w-100 text-start p-1">
                                    <span class="form-text text-danger animate__animated animate__fadeIn" *ngIf="validatorCamp('password')">
                                       Campo Requerido
                                 </span>
                                </div>
                            </div>

                            <div class="m-1s input-group">
                                <input formControlName="terms" id="conds" type="checkbox" style="color: black; margin-right: 25px;"> <span>Acepta nuestras condiciones de uso</span>
                                <div class="w-100 text-start p-1">
                                    <span class="form-text text-danger animate__animated animate__fadeIn" *ngIf="validatorCamp('terms')">
                                       Campo Requerido
                                 </span>
                                </div>
                            </div>

                        </div>

                        <div style="text-align: end;" class="mt-4">

                            <button type="submit" mat-raised-button name="registrar" [disabled]="laoding || myForm.invalid" id="btnRegisrtrarme" class="enviar" style="margin-top: 0px; margin-left: rem; margin-bottom: 2rem;">Registrarme</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-sm-12 content containerNaranja rounded" style="margin: auto;">
            <div class="row">

                <div class=" col-12">
                    <br>
                    <img src="../../../../assets/img/register.png" alt="" style="height: 15rem;">
                    <div style="height: 50%; display: flex; flex-direction: column; justify-content: center; ">
                        <div>
                            <div style="display: flex;justify-content: space-around; ">
                                <h2>Ya tienes una cuenta?</h2>

                            </div>
                            <div id="divIniciar">
                                Inicia Sesión para empezar a repartir pedidos
                            </div>
                            <br><br>
                            <div style="text-align: center; margin-top: 1rem;">
                                <button type="button" mat-raised-button id="iniciarS" class="enviar btn-outline-light" [routerLink]="['/auth/login']" style="margin-top: 0px;">Iniciar Sesión</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>