@media(max-width:480px) {
    .containerG {
        height: auto!important;
        display: flex!important;
    }
}

.contCuentaExiste {
    margin-top: auto!important;
    margin-bottom: auto!important;
}

.input input {
    margin: 2rem 0;
}

.repartidor {
    color: gray;
}

#textNaranja {
    color: #DB6D0B;
}

.containerG {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 77vh;
    align-items: flex-start;
}

#divIniciar {
    color: #e6dada;
    font-weight: 400;
}

#iniciarS {
    color: white;
    border: 0.5px solid #dbd6d675;
    border-radius: 2rem;
}

#btnRegisrtrarme {
    width: 100%;
    margin: 0;
    width: 100%;
    margin: 0;
    border: 1px solid #DB6D0B;
    background-color: transparent;
    color: #DB6D0B;
    border-radius: 2rem;
}

.containerRegister {
    background-color: transparent;
    padding: 2rem;
    border-radius: 1rem;
    color: black;
    height: 100%;
}

.enviar {
    margin-left: 1rem;
    background-color: #DB6D0B;
    border: 0;
    color: white;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    border-radius: 0.4rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    width: 200px;
}

.cuenta {
    width: auto;
    margin-left: 5rem;
    margin-top: auto;
    margin-bottom: auto;
}

.containerNaranja {
    background-color: #DB6D0B;
    padding: 2rem;
    border-radius: 1rem;
    color: white;
    height: 85%;
    text-align: center;
    width: 80%;
}

.form-control {
    border: none;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.486);
    font-size: 24px;
    font-weight: 400;
    margin: 0.5rem 0!important;
}