<div class="containerG row">
    <div class="col-xl-4 col-sm-12" style="width: auto;">
        <div class="containerRegister">

            <h2 style="text-align: center;" id="textNaranja">Registrate</h2>
            <h2 style="text-align: center;" class="repartidor">Registrate</h2>


            <p class="repartidor">Rellena cada uno de los campos para ser parte de nuestros repartidores</p>

            <div class="form-content">
                <form action="" autocomplete="off">
                    <div style="display: flex;">
                        <div class="input" style="margin-bottom: 0px;">
                            <input type="text" class="form-control" placeholder="Identidad">
                            <input type="text" class="form-control" placeholder="Nombre">
                            <input type="text" class="form-control" placeholder="Apellido">
                            <input type="text" class="form-control" placeholder="telefono">
                            <input type="text" class="form-control" placeholder="email">
                            <input type="text" class="form-control" style="margin-bottom: 0px;" placeholder="contraseña">
                            <i class="fas fa-eye"></i>
                            <input type="checkbox" style="color: black;"> <span>Acepta nuestras condiciones de uso</span>
                            <button type="submit" mat-raised-button id="btnRegisrtrarme" class="enviar" style="margin-top: 0px;">Registrarme</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-12 contCuentaExiste" style="width: auto; margin-left: 5rem; ">

        <div class="containerNaranja ">

            <img src="../../../../assets/img/register.png" alt="" style="height: 10rem;">
            <div style="height: 50%; display: flex; flex-direction: column; justify-content: center; ">
                <div>
                    <div style="display: flex;justify-content: space-around; ">
                        <h3>Ya tienes una cuenta?</h3>

                    </div>
                    <div id="divIniciar">
                        Inicia Sesión para empezar a repartir pedidos
                    </div>
                    <div style="text-align: center; margin-top: 1rem;">
                        <button type="button" mat-raised-button id="iniciarS" class="enviar btn-outline-light" [routerLink]="['/auth/login']" style="margin-top: 0px;">Iniciar Sesión</button>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>