<ng-template #content class="template">
<div>
  <div>
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title">Seleccionar ubicacion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         X
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="">Ciudad</label>
              <select class="form-control" (change)="onChangeLocation()">
                <option value="">Seleccionar ciudad</option>
                <option *ngFor="let location of locations" [value]="location.id">{{location.name}}</option>
              </select>
            </div>
            <div class="form-group mt-5">
              <label for="">Departamentp</label>
              <select class="form-control" (change)="onChangeLocation()">
                <option value="">Seleccionar departamento</option>
                <option *ngFor="let location of locations" [value]="location.id">{{location.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark">Close</button>
        <button  class=" btn-continue" mat-button>Continuar</button>
      </div>
    </div>
  </div>
</div>
</ng-template>
