<div style="display: flex;" class="contenedor">


    <div class="menu">
        <ul class="list-group">
            <li class="list-group-item active item" aria-current="true">Cuenta</li>
            <li class="list-group-item">Configuración</li>
        </ul>
        <hr id="hr">
    </div>

    <div class="divporfile">
        <img src="../../../../assets/img/porfile.png" alt="" class="porfile">
        <hr id="hr2">
        <div>

            <h2>BESSY DANIELA ZAVALA</h2>
            <h2>danny15zavalalic@gmail.com</h2>
            <h2>tel: 95169275</h2>
            <br>
            <button class="btnEditar">Editar</button>
        </div>


    </div>
</div>