.mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.tittle {
    color: #DB6D0B;
    font-size: x-large;
    font-weight: 500;
    padding: 3px;
}

.btnEntregar {
    background: transparent;
    color: #DB6D0B;
    border: 1px solid;
    border-radius: 2rem;
    padding: 10px 30px;
    width: 50%;
    margin-bottom: 20px;
}

.btnEntregar:hover {
    background-color: #DB6D0B;
    color: white;
}

.btnRegresar {
    background: #e9ecef;
    color: gray;
    border: 1px solid transparent;
    border-radius: 2rem;
    padding: 10px 30px;
    width: 50%;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    font-size: x-large;
    font-weight: 600;
}

.productCant {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    font-size: large;
}

.icons {
    padding-right: 20px;
    font-size: xx-large;
}

.root {
    display: flex;
    justify-content: space-around;
}

.expanded {
    width: 40%;
}

.map {
    width: inherit;
    padding-left: 20px;
}

@media(max-width:480px) {
    .root {
        flex-direction: column;
    }
    .expanded {
        width: 100%;
    }
    .map {
        width: inherit;
        padding-left: 0px;
    }
}